.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". re ." ". . .";
    width: auto;
    
}

.SearchBar{
    grid-area: se;
    height: 60px;
}
.RepositoriesLis{
    grid-area: re;
}

.Paginator{
    grid-area: pa;
    margin: auto;
}

.repositories{
    border-style: solid;
    border-color: #13b4d4;
    border-radius: 18px 18px 18px 18px;
    margin-bottom: 20px;
}



.Paginator ul{
    list-style: none; 
    margin: 0 auto;
    padding-bottom: 50px;
}



.Paginator li{
    display: inline;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #1d1d1d;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
    
}

.Paginator a{
    text-decoration: none;
    font-weight: 500;
    color: #2c2c2c;
}


.active{
    background-color:  #ff5e00;
    border-color: #ff5e00;
}

.active a{
    color: white;
}


/*карточка проекта*/

.name{
    position: relative;
    left: 6%;
    font-size: 30px;
    top: 50px;
    color: #ff5e00;
}

.fullName{
    position: relative;
    left: 6%;
    top: 50px;
}


.signText{
    position: relative;
    text-align: center;
    color: #525252;
}

.pushedDate{
    position: relative;
    text-align: center;
    color: #525252;
}


.starIcon{
    width: 50px;
    height: 50px;
    position: relative;
    left: 60%;
    bottom: 25px;
}

.starsCount{
    position: relative;
    left: 70%;
    bottom: 100px;
    font-size: 30px;
}
